/* ================================================================== *\
   Google Fonts
\* ================================================================== */
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src:
    local("Open Sans"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"),
    url("../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  font-style: normal;

  src:
    local("Neucha"),
    url("https://fonts.googleapis.com/css2?family=Neucha&display=swap"),
    url("../assets/fonts/Neucha-Regular.ttf");
}
